<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Arnica"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLE_Application"
        tools:targetApi="31">
        <activity
            android:name=".VolumePage"
            android:exported="false" />
        <activity
            android:name=".SlideActivity"
            android:exported="false"
            android:label="@string/title_activity_slide"
            android:theme="@style/Theme.BLE_Application" /> <!-- This is our first page(Launcher) in this app -->
        <activity
            android:name=".FirstActivity"
            android:exported="true">

            <!-- Next line describe launcher (Main And first Page that opens!!) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- This is our Second page in this app. in this page we want User to Enable Bluetooth -->
        <activity android:name=".FourthActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Gatt_Activity" />
        <activity android:name=".Program" />
        <activity android:name=".FourthMode" />
        <activity android:name=".ThirdMode" />
        <activity android:name=".SecondMode" />
        <activity android:name=".FirstMode" />
    </application>

</manifest>